<html>
	<head>
		<title>Meal Planner - View Recipe</title>
		<link rel="stylesheet" href="../style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://use.fontawesome.com/f3009b4d7d.js"></script>
	</head>
	
	<body>
	
		<div ng-app="mealPlanner" ng-controller="mealPlannerCtrl"> 
			<form>
				<label>Recipe Name: {{ recipe._id }}</label><br>
				<input type="text" ng-model="recipe.name"></input><br><br>

				<label>Ingredients:</label><br>
				<div ng-repeat="(id, ingredient) in recipe.ingredients track by id">
					<input type="text" ng-model="recipe.ingredients[id]"></input>
					<i class="fa fa-minus-square fa-3" ng-click="removeIngredient(id)" ng-show="$last-1"></i>
					<i class="fa fa-plus-square fa-3" ng-click="addIngredient()" ng-show="$last"></i>
					<br><br ng-show="$last">
				</div>

				<label>Instructions:</label><br>
				<textarea ng-model="recipe.instructions" rows="15" cols="50"></textarea><br><br><br>
				
				<input type="button" value="Reset" ng-click="resetForm()"></input>
				<input type="submit" value="Add Recipe" ng-click="addRecipe()"></input>
			</form>
		</div>
	
		<script src="../mealPlannerApp.js"></script>
		<script src="../mealPlannerCtrl.js"></script>
	</body>
</html>
		
